@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* debut du banniere */

.banniere {
    min-height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(186, 186, 186, 0.75),
            rgba(92, 92, 92, 0.711)),
        url("../image-filieres/bannière.jpg");
}

.banniere>h2 {
    color: #FFEA0A;
    text-transform: uppercase;
    font-weight: bold;
}

/* fin de la banniere */


/* debut du header */
.colour-header {
    background: #2A3591;
    color: #ffffff;
}

.logo-header {
    width: 60px;
    height: 60px;
}

.title-header {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.header-title-2 {
    font-size: 23px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #fee90a;
    text-transform: uppercase;
}

.colour-1 a {
    color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: 0.3s ease;
}

.colour-1 a:hover {
    color: #fee90a;
}

.colour-1-active a {
    color: #fee90a;
      font-size: 16px;
}

/* fin du header */

/* debut des cards  */
.image-card {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(rgba(92, 152, 255, .8),
            rgba(92, 152, 255, .4));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h2,
.overlay h3 {
    color: white;
}

.overlay h2{
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.overlay span {
    color: #FFEA0A;
    font-weight: bold;
}

/* Fin des cards */

/* debut du footer  */

.custom-footer {
    background: #2A3591;
    color: #fff;
}

/* Colonnes */
.custom-footer .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Logo */
.footer-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.footer-title {
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.footer-title-2 {
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #fee90a;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Texte */
.footer-text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    line-height: 1.8;
}

/* Titres */
.footer-subtitle {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fee90a;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Navigation */
.footer-lien {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-lien li {
    margin-bottom: 10px;
}

.footer-lien a {
    text-decoration: none;
    color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

.footer-lien a:hover {
    color: #fee90a;
}

/* Contact */
.footer-contact {
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
}

.footer-contact i {
    color: #fee90a;
    margin-right: 8px;
}

/* Réseaux sociaux */
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.social-icon a {
    color: #fff;
    font-size: 22px;
    transition: .3s;
}

.social-icon a:hover {
    color: #fee90a;
}

/* Ligne */
.footer-line {
    border-color: rgba(255, 255, 255, .2);
}

/* findu  du footer  */