/* Styles du footer */
.custom-footer {
    background: #2A3591;
    color: #fff;
}

.custom-footer .row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.footer-title {
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.footer-title-2 {
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #fee90a;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    line-height: 1.8;
}

.footer-subtitle {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fee90a !important;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-lien {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-lien li {
    margin-bottom: 10px;
}

.footer-lien a {
    text-decoration: none;
    color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

.footer-lien a:hover {
    color: #fee90a;
}

.footer-contact {
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
}

.footer-contact i {
    color: #fee90a;
    margin-right: 8px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 15px; */
}

.social-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    transition: .3s;
}

.social-icon a:hover {
    color: #fee90a;
}

.social-icon p {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.footer-line {
    border-color: rgba(255, 255, 255, .2);
}
